h1, p {
  text-align: center;
  font-size: 5rem;
  font-family: 'Sacramento', cursive, sans-serif;
  color: chocolate;
  text-shadow: 3px 3px 3px floralwhite; 
}
.container{
  margin: 0 auto;
  width: max-content;
  border-radius:10px;
  background:linear-gradient(to right, pink, paleturquoise)
}
