@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*, ::before, ::after{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

.ul-nav{
  margin: 0 0 2rem;
  padding: 0.2rem;
  list-style-type: none;
  overflow: hidden;
  background-color:gray;
}

li a{
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;
}

li a:hover{
  color: #7a3c06;
  background-color: #faebd7;
  border-radius: 4px;
}

h1, p{
  text-align: center;
  font-size: 1.3rem;
  color: chocolate;
  /*text-shadow: 3px 3px 3px floralwhite; */
}

.container, .fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldset{
  border: none; 
}

.input-date{
  margin: 0 1rem 0;
  display: flex;
  flex-direction: column;
}

.date{
  margin: 1rem 0;
  padding:0.4rem;
  width: 10rem;
  border-radius: 0.5rem;
}

input[type="date"]{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
::-webkit-inner-spin-button { display: none; }

.button{
  padding:0.4rem;
  width: 10rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.button:hover{
  color: antiquewhite;
  background-color: chocolate;
}

.card{
  margin: 0 auto;
  padding: 0 0 0.5rem;
  width: fit-content;
  /*border:peachpuff 0.5px solid;*/
  border-radius:5px;
  box-shadow: 1.5px 2px 3px 1.5px rgba(0.2, 0, 0.2, 0.2);
  /*background:linear-gradient(-59deg, pink, peachpuff)*/
}

hr{
  border:0;
  margin:0;
  width:100%;
  height:0.5px;
  background:darksalmon
}

img{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 310px;
  height: 270px;
}
.footer{
  padding:1rem 0 0;
}

.footer p{
  font-size: small;
}

.footer a{
  text-decoration: none;
  color: gray;
}

@media (min-width: 700px){
  li {
    float: left;
  }

  li a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-date{
  margin: 0 1rem 0;
  display: flex;
  flex-direction: column;
}

.date{
  margin: 1rem 0;
  padding:0.4rem;
  width: 10rem;
  border-radius: 0.5rem;
}

input[type="date"]{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
::-webkit-inner-spin-button { display: none; }

.button{
  padding:0.4rem;
  width: 10rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.button:hover{
  color: antiquewhite;
  background-color: chocolate;
}

  .card{
    margin: 0 auto;
    padding: 1rem 2rem;
    width: fit-content;
    /*border:peachpuff 0.5px solid;*/
    border-radius:5px;
    box-shadow: 1.5px 2px 3px 1.5px rgba(0.2, 0, 0.2, 0.2);
    /*background:linear-gradient(-59deg, pink, peachpuff)*/
  }
}